global
    log 127.0.0.1 local0 notice
    
defaults
    log global
    retries 2
    timeout connect 3000
    timeout server 5000
    timeout client 5000

listen mysql-cluster
    bind 127.0.0.1:9090
    mode tcp
    timeout client  10800s
    timeout server  10800s
    balance roundrobin
    server mysql 127.0.0.1:3306
