global
    log 127.0.0.1 local0 notice

defaults
    log global
    retries 2
    timeout connect 3000
    timeout server 5000
    timeout client 5000

listen mysql-cluster
    bind 0.0.0.0:{{.HAPROXY_MYSQL_SOURCE_PORT}}
    mode tcp
    timeout client  10800s
    timeout server  10800s
    balance roundrobin
    server mysql {{.HAPROXY_MYSQL_TARGET_IP}}:{{.HAPROXY_MYSQL_TARGET_PORT}}
